<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-pgdayeu16"
        version="0.0.1">

  <name>PGDayEU16</name>

  <description>Plugin for our PhoneGap Day EU 2016 workshop</description>

  <author>Anis and Eddy, the dynamic workshop duo</author>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.5.0"/>
  </engines>

  <js-module src="www/PGDayEU16Plugin.js" name="PGDayEU16Plugin">
    <clobbers target="window.PGDayEU16Plugin" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="PGDayEU16Plugin">
        <param name="android-package" value="com.phonegapday.PGDayEU16Plugin" />
      </feature>
    </config-file>

    <source-file src="src/android/PGDayEU16Plugin.java" target-dir="src/com/phonegapday"/>
  </platform>

  <!-- iOS -->
  <platform name="ios">

    <config-file parent="/*" target="config.xml">
      <feature name="PGDayEU16Plugin">
        <param name="ios-package" value="PGDayEU16Plugin" />
      </feature>
    </config-file>

    <header-file src="src/ios/PGDayEU16Plugin.h" />
    <source-file src="src/ios/PGDayEU16Plugin.m" />
  </platform>

</plugin>